<style>
  .noarrow>a:after {
    display: none !important;
  }
</style>

<li class="navbar-text" ng-repeat="pulldown in dashboard.current.nav" ng-controller="PulldownCtrl" ng-show="pulldown.enable">
  <kibana-simple-panel type="pulldown.type" ng-cloak></kibana-simple-panel>
</li>

<li class="navbar-btn dropdown"ng-show="showDropdown('save')">
  <a href="#"  bs-tooltip="'Save'" data-placement="bottom" class="dropdown-toggle" data-toggle="dropdown">
    <span class='icon-save'></span>
  </a>
  <ul class="dropdown-menu" style="padding:10px">
    <li class="dropdown-submenu noarrow" ng-show="dashboard.current.loader.save_local != false">
          <a class="link" ng-click="dashboard.to_file()">Export schema</a>
    </li>
  </ul>
</li>

<li class="navbar-btn" ng-show="dashboard.current.editable" bs-tooltip="'Configure dashboard'" data-placement="bottom">
  <a class="link" config-modal="app/partials/dashboard-editor.html" kbn-model="dashboard"><span class='icon-cog'></span></a>
</li>