
  <div class="editor-row">
    <div class="section">
      <strong>{{panelMeta.status}}</strong> // <span ng-bind-html="panelMeta.description"></span>
    </div>
  </div>
  <div class="editor-row">
    <div class="section">
      <div class="editor-option">
        <label class="small">Title</label><input type="text" class="input-medium" ng-model='panel.title'></input>
      </div>
      <div class="editor-option">
        <label class="small">Editable</label><input type="checkbox" ng-model="panel.editable" ng-checked="panel.editable">
      </div>
      <div class="editor-option" ng-show="!_.isUndefined(panel.spyable)">
        <label class="small">
          Inspect <i class="icon-question-sign" bs-tooltip="'Allow query reveal via <i class=icon-info-sign></i>'"></i>
        </label>
        <input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
      </div>
    </div>
  </div>
  <div class="editor-row">
    <div class="section">
      <div class="editor-option">
        <label class="small">Background</label><spectrum-colorpicker ng-model="panel.bgColor" options="{allowEmpty:true, showPalette:true, showAlpha: true}"></spectrum-colorpicker>
      </div>
      <div class="editor-option">
        <label class="small">Text</label><spectrum-colorpicker ng-model="panel.textColor" options="{allowEmpty:true, showPalette:true, showAlpha: true}"></spectrum-colorpicker>
      </div>
    </div>
  </div>
</div>
