<style>
    #edit_fields .row {
        margin-left: 0px;
    }
    #edit_fields .draggable {cursor:move}
    #edit_fields .btn-group-vertical {min-height:100px; background:#EFFFEF; padding:0 10px 10px 10px; margin-left:5px}
    #edit_fields .caption {text-align: center}
    #edit_fields .label {text-align:center; display:block; margin-bottom:5px}
</style>

<div class="" id="edit_fields">
    <div class="row">
        <div class="btn-group-vertical span2" role="group" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.draggable:not([ng-model=list5])'}" jqyoui-droppable="{multiple:true}">
            <div class="caption">Fields</div>
            <div class="label label-success draggable" ng-repeat="item in list5" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
        </div>
        <div class="btn-group-vertical span2" role="group" data-drop="true" ng-model='list1' data-jqyoui-options="{accept:'.draggable:not([ng-model=list1])'}" jqyoui-droppable="{multiple:true}">
            <div class="caption">X-Axis</div>
            <div class="label label-success draggable" ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
        </div>
        <div class="btn-group-vertical span2" role="group"  data-drop="true" ng-model='list2' data-jqyoui-options="{accept:'.draggable:not([ng-model=list2])'}" jqyoui-droppable="{multiple:true}">
            <div class="caption">Y-Axis</div>
            <div class="label label-success draggable" ng-repeat="item in list2" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
        </div>
        <div class="btn-group-vertical span6" role="group">
            <div class="caption">Fields</div>
            <div class="thumbnail">
            </div>
        </div>
    </div>
</div>
